<router-outlet></router-outlet>
<footer>
    <p>Created by Jonathan hendra | Frontend Developer</p>
    <a href="https://gitlab.com/xiemax/"><i class="fa fa-gitlab"></i></a>
    <a href="https://gitlab.com/xiemax/"><i class="fa fa-linkedin"></i></a>
    <a href="https://gitlab.com/xiemax/"><i class="fa fa-facebook"></i></a>
    <p>Data Source from <a href="http://www.omdbapi.com/"><strong>OMDb API</strong></a> | <a href="https://backgrounddownload.com/">background</a></p>
    <p>Candidate proses to do | Jojonomic PTE LTD | PT Jojonomic Indonesia</p>
    <p>framework : <a href="https://angular.io/">Angular</a></p>
</footer>