input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
/*  SECTIONS  */
.section {
    width: 80%;
	clear: both;
	padding: 0px;
    margin: 0px auto;
    min-height: 300px;
}
.search{
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
.search .searchbox{
    width: 80%;
    display: table;
    margin: 0 auto;
    padding: 0;
}
.search .searchbox input:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search .searchbox input{
    width: 40%;
    padding: 0;
    margin: 0;
    border: none;
    display: inline-table;
    height: 30px;
    background: #eaeaea;
    color: white;
    text-align: center;
    box-shadow: inset 0px 0 9px 2px #cacaca;
}
.search .searchbox button{
    width: 20%;
    padding: 0;
    margin: 0;
    border: none;
    height: 30px;
    background: red;
    color: white;
    box-shadow: inset 0 0 7px 2px #c50808;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
/*  COLUMN SETUP  */
.col {
    position: relative;
	display: block;
	float:left;
    height: 250px;
    overflow: hidden;
    width: 25%;
}
.col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.col button{
    display: none;
}
.col:hover img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.col:hover button{
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: red;
    border: none;
    height: 50px;
    color: white;
    cursor: pointer;
}
/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.modal-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    width: 80%;
    transform: translate(-50%, -50%);
    background: #f4f4f4;
    height: 80%;
    display: table;
    z-index: 1000;
    overflow-y: auto;
    border-radius: 7px;
}
.detail-info {
    display: table;
    width: 80%;
    margin: 0 auto;
    position: relative;
    vertical-align: top;
}
.detail-info .image{
    position: relative;
    display: table-cell;
    width: 30%;
    overflow: hidden;
    vertical-align: top;
}
.detail-info .image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}
.detail-info .caption-info{
    display: table-cell;
    width: 70%;
    padding: 0 20px 0 20px;
    vertical-align: top;
    background: white;
    border-top-right-radius: 30px;
    box-shadow: 3px -10px 9px #00000024;
}
.detail-info .caption-info span{
    padding-right: 10px;
}
.detail-info .caption-info span i{
    color: gray;
}
footer {
    padding: 30px;
    background: #ffffff;
    box-shadow: 0px -20px 18px 0px #f0f0f0;
}
footer a i{
    height: 30px;
    width: 30px;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col{ width: 100%; }
    .detail-info .image,.detail-info .caption-info{
        width: 100%;
        display: inline-table;
        border-radius: 0;
    }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
	.col{ width: 33.33%; }
}