/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://backgrounddownload.com/wp-content/uploads/2018/09/movie-reel-transparent-background-1.jpg')!important;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}